/* Theme Colors*/
$black-900: #1B1D1C;
$black-800: #242424;
$off-white: #F1F1F1;
$corbyn-blue-theme: rgb(66, 148, 255);
$royal-purple-highlight: rgb(166, 92, 255);

/* UI Text and Component Colors */
$ui-btn-grey: #E5E5DC;
$ui-text-grey: #83837d;

/* Homepage Margins and Paddings */
$main-padding: 1.4rem;
$header-and-footer-margin: 1rem;
$container-padding: 1rem;

/* Page Margins and Paddings*/
$page-padding: 4rem;
$page-header-and-footer-margin: 160px;