@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('../fonts/bebasneue-regular.ttf') format('truetype'), url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
    url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    
    --black-800: #242424;
    --off-white: #F1F1F1;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 96px;
    padding-right: 96px;
}

ul {
    margin : 0;
    padding: 0;
}

a {
    color: var(--black-800);
    text-decoration: none;
}

.category-divider {
    background-color: brown;
    height: 2px;
    width: 100px;
}

.primary-btn {
    background-color: var(--black-800);
    color: var(--off-white);
    padding: 10px 20px;
    margin-top: 20px;
}